body {
    background-image: url(../img/textura2.jpg);
    background-size: 200px;
    background-color: #ededed;
}

@media screen and (max-width:769px) {
    body {
        background-size:100px;
    }
}

body.dark {
    background-image: url(../img/textura4.jpg);
}