/* Restaurando valores */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-style: none;
}

/* Fuente */

html {
    font-family: 'Roboto Slab', serif;
    font-size:10px;
}

/* Colors and Shadows */

:root {
    /* Colors */
    --light-gray-color: #ededed;
    --dark-gray-color: #3c3c3b;
    --medium-gray-color: #6F6F6E;
    --dark-gray-v2-color: #313131;
    --blue-color: #3f6cfe;
    --dark-blue-color: #2F51BF;
    --white-color: #fff;
    --black-color: #000;
    --light-gray-v2-color: #9d9d9c;
    /* Shadows */
    --shadow-light-gray: 0 0 5px rgba(0,0,0, .2);
    --shadow-dark-gray: 2px 5px 7px rgba(0,0,0, .4);
}

/* Color de fondo */

html, body {
    background-color: var(--light-gray-color);
}



.navbar {
    z-index:2;
    height:60px;
    width:100%;
    background-color: var(--light-gray-color);
    box-shadow: var(--shadow-light-gray);
    position: sticky;
    top:0;
    left:0;
}

.navbarContainer {
    max-width:1366px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items:center;
    height:100%;
}

.navbar .logo {
    height:100%;
    display:flex;
    align-items:center;
}

.navbar .logo__text,
.navbar .logo__text:visited {
    padding-left:15px;
    font-size:2.8rem;
    color: var(--dark-gray-color);
    transition: all .3s ease;
}

.navbar .logo__text:hover {
    color: var(--dark-gray-v2-color);
    transition: all .3s ease;
}

.navbar .menu {
    width:100%;
    color: var(--dark-gray-color);
    display: flex;
    height:100%;
    align-items:center;
    justify-content: flex-end;
    position: relative;
}

.navbar .menu .menu__link {
    color: var(--dark-gray-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size:1.4rem;
    padding:10px 30px;
}

.navbar .menu .menu__link_before {
    position:relative;
}

.navbar .menu .menu__link:hover {
    color: var(--dark-blue-color);
    transition: all .3s ease;
}

.navbar .menu .menu__links .active {
    position: relative;
}

.navbar .menu .menu__links .active::before {
    content: '';
    position: absolute;
    height:8px;
    width: 100%;
    top:-13px;
    left:0px;
    background-color: var(--blue-color);
    border-radius: 4px;
}

.navbar .menu .menu__link_before:hover::before {
    content: '';
    position: absolute;
    height:8px;
    width: 100%;
    top:-13px;
    left:0px;
    background-color: var(--dark-blue-color);
    border-radius: 4px;
    transition: all .3s ease;
}

.navbar .menu .menu__login {
    color: var(--dark-gray-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size:1.4rem;
}

.navbar .menu .menu__login .register {
    padding-right:7px;
}

.navbar .menu .menu__login .login {
    padding-left:15px;
    position: relative;
    padding-right:30px;
}

.navbar .menu .menu__login .login::before {
    content:'';
    position:absolute;
    top:3px;
    left:4px;
    width:80%;
    height:75%;
    border: 3px solid var(--blue-color);
    border-radius:20px;

}

.navbar .menu .menu__login .login,
.navbar .menu .menu__login .register {
    color: var(--blue-color);
    font-weight: 600;
    transition: all .3s ease;
} 

.navbar .menu .menu__login .login:hover,
.navbar .menu .menu__login .register:hover {
    color: var(--dark-blue-color);
}

.navbar .menu .menu__login .login:hover::before {
    border-color: var(--dark-blue-color);
}

.navbar .menu .icon-menu {
    display:none;
}

/* Contenido de la pagina */
.container {
    width:100%;
    max-width:1366px;
    margin:0 auto;
}

/* Media queries de Nav */
@media screen and (max-width:600px) {
    html, body {
        font-size:.5em;
    }

    .menu {
        display: none;
        height:auto;
        transition: all .4s ease;
        z-index:1;
    }

    .navbar .menu .icon-menu,
    .navbar .menu .icon-cross {
        display:block;
        padding:15px;
        font-size:3rem;
        text-decoration: none;
        color: var(--dark-gray-color);
        position: absolute;
        top:0;
        right:0;
        z-index: 1;
    }

    .menu__links {
        display:none;
    }

    .menu__login {
        display: none;
    }

    .menu.showMenu {
        display:flex;
        width:100vw;
        height:100vh;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(237,237,237,.9);
        position: absolute;
        top:0;
        right:0;
        
    }

    .menu.showMenu .menu__links {
        display:block;
        text-align:center;
        margin: 0 auto;
    }

    .menu.showMenu .menu__login {
        display:block;
        text-align:center;
        margin: 20px auto;
    }


    .menu.showMenu .menu__login .register,
    .menu.showMenu .menu__login .login {
        display:inline-block;
        padding: 2px 5px 0 5px;
        
        font-size:2rem;
        text-transform: uppercase;
    }

    .menu.showMenu .menu__login .login {
        display:block;
        font-weight: 600;
    }

    .menu.showMenu .menu__login .login::before {
        border:0;
    }

    .menu.showMenu .menu__links .menu__link {
        display:block;
        font-size: 3rem;
        font-weight: 600;
        padding:15px 0;
        text-transform: uppercase;
    }

    .navbar .menu .menu__links .active::before {
        height:0;
    }

    .navbar .menu .menu__links .menu__link:hover::before {
        height: 0;
    }
}

.container .hero {
    width:100%;
    height:63vh;
    display:grid;
    grid-gap:1px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(63vh, 1fr);
    background-size:cover;
    background-image: url(../img/banner.png);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.container .hero .hero__left {
    width:100%;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .5fr;
    align-items:center;
    justify-items: center;
}

.hero .hero__left .hero__title {
    color: var(--white-color);
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 4.4rem;
    text-align:center;
    align-self: end;
    padding: 0 50px;
}

.hero .hero__buttonContent {
    align-self: flex-start;
}

.hero .hero__left .hero__button {
    margin-top:20px;
    padding:10px 30px;
    outline: none;
    font-family: 'Poppins', sans-serif;
    text-transform:uppercase;
    color: var(--blue-color);
    background-color: var(--light-gray-color);
    border: none;
    box-shadow: var(--shadow-dark-gray);
    border-radius: 20px;
    font-size:1.8rem;
    cursor:pointer;
    font-weight: 600;
    transition: all .3s ease;
}
.called__button {
    margin-top:20px;
    padding:10px 30px;
    outline: none;
    font-family: 'Poppins', sans-serif;
    text-transform:uppercase;
    color: var(--white-color);
    background-color: var(--blue-color);
    border: none;
    box-shadow: var(--shadow-dark-gray);
    border-radius: 20px;
    font-size:1.8rem;
    cursor:pointer;
    font-weight: 500;
    transition: all .3s ease;
}

.hero .hero__left .hero__button:hover,
.called__button:hover {
    background: var(--dark-blue-color);
}

.hero .hero__imageContent {
    display:flex;
    justify-content: center;
}

.hero .hero__imageContent .hero__image {
    width:290px;
}

.container .hr {
    width: 100%;
    text-align: center;
    margin:30px 0 60px 0;
}

.container .features {
    display:grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    text-align:center;
    grid-gap:10px;
    justify-content: center;
}

/* Mediaqueries del Hero */

@media screen and (max-width:600px){
    .container .hero {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        height:auto;
        background-size: cover;
    }

    .container .hero .hero__left {
        grid-row: 2 / 3;
        grid-template-rows: auto;
    }

    .container .hero .hero__title {
        font-size:3.5rem;
        padding-top:30px;
        height: auto;
    }

    .container .hero .hero__button {
        margin-bottom: 45px;
        height: auto;
    }

    .container .hero .hero__imageContent {
        grid-row: 1 / 2;
        margin:30px 0;
    }

    .container .hero .hero__image {
        width: 160px;
    }

    .container .hr {
        margin-bottom: 30px;
    }

    .hr img {
        width: 100px;
    }
}

.features .feature__item {
    padding:50px;
}

.features .feature__item .feature__item_title {
    font-size:2.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--dark-gray-color);
    position:relative;
    margin-bottom:30px
}

.features .feature__item .feature__item_title::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6px;
    margin: auto;
    height:2px;
    width:50px;
    border-radius:4px;
    background-color:var(--dark-gray-v2-color);
}

.features .feature__item .feature__item_imageContent {
    width:100%;
}

.features .feature__item .feature__item_image {
    width:150px;
}

.features .feature__description {
    margin: 20px auto;
    font-family: 'Poppins', sans-serif;
    font-size:1.8rem;
    margin-bottom:60px;
}

.features .feature__description_bold {
    font-weight:bold;
}

/* Mediaqueries de Features */

@media screen and (max-width:600px) {
    .container .features {
        grid-template-columns: 1fr;
        grid-gap:0px;
    }

    .features .feature__item {
        padding: 20px 30px 0px 30px;
    }
}

.called {
    text-align: center;
    width:100%;
}

.called .called__backgroundContent {
    background: url(../img/banner2.png);
    background-size: cover;
}

.called .called__phrase {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 6.2rem;
    font-weight: lighter;
    color: var(--blue-color);
    padding: 100px 0 0 0;
}

.called .called__description {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: normal;
    padding: 20px 0 100px 0;
    color: var(--dark-gray-color);
}

.called .called__button {
    margin: 50px 0;
}

/* Mediaqueries de Called */

@media screen and (max-width:600px) {
    .called .called__backgroundContent {
        height:auto;
        background-size:auto;
    }

    .called .called__phrase {
        font-size: 5rem;
        padding:40px 20px 5px 20px;
    }

    .called .called__description {
        padding:0 20px 40px 20px;
    }
}

.footer {
    width: 100%;
}

.footer__content {
    max-width:1366px;
    margin: 40px auto 0 auto;
}

.footer .footer__titleContent {
    position: relative;
    padding:15px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer__titleContent::before {
    content: '';
    height:2px;
    bottom: 0;
    left:0;
    width:100%;
    position: absolute;
    background-color: var(--dark-gray-color);
}

.footer .footer__title {
    font-size: 2.8rem;
    font-family: 'Roboto Slab', serif;
    color: var(--dark-gray-color);
}

.footer .footer__socialMedia {
    display:flex;
    align-items: center;
    vertical-align: center;
}

.footer .footer__social_item,
.footer .footer__social_item:visited {
    font-size:2.7rem;
    color: var(--dark-gray-color);
    padding: 15px;
    transition: all .3s ease;
}

.footer .footer__social_item:hover {
    color: var(--blue-color);
}

.footer .footer__sitemap {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
    margin-bottom: 3rem;
}

.footer__sitemap .footer__sitemap_links {
    padding-top:40px;
    padding-left:100px;
    justify-self: flex-start;
}

.footer__sitemap .footer__sitemap_link {
    display:block;
    color: var(--light-gray-v2-color);
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    padding-top:25px;
    font-size:1.9rem;
    transition: all .3s ease;
}

.footer__sitemap .footer__sitemap_link:hover{
    color:var(--dark-gray-v2-color);
}

.footer__sitemap .footer__sitemap_functions {
    justify-self: flex-end;
    padding-right:25px;
    font-size:1.6rem;
    font-family: 'Poppins', sans-serif;
    color: var(--black-color);
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    justify-content: end;
    align-items: flex-end;

}

.footer__sitemap_language {
    justify-self:flex-end;
    align-self: flex-end;
}

.footer__sitemap_language_form select {
    width:170px;
    margin:10px;
    padding:5px;
    border: 0;
    outline: none;
    font-size:1.6rem;
    color:var(--dark-gray-color);
    font-weight: 500;
}

.footer__sitemap_mode_form select {
    width:170px;
    margin:10px;
    padding:5px;
    border: 0;
    outline: none;
    font-size:1.6rem;
    color:var(--dark-gray-color);
    font-weight: 500;
}

.footer__sitemap_mode {
    justify-self:flex-end;
    align-self: flex-start;
}

.footer__allrightreserved {
    text-align: center;
    padding:30px;
    font-size: 1.6rem;
    color: var(--light-gray-v2-color);
    font-family: 'Poppins', sans-serif;
}

.footer__heart {
    color: red;
}

.footer__gastonkons {
    font-weight: 600;
    color: var(--blue-color);
}

/* Mediaqueries de Footer */

@media screen and (max-width:600px) {
    .footer .footer__content {
        margin: 0;
        z-index:1;
    }

    .footer .footer__titleContent {
        flex-direction: column;
    }

    .footer .footer__titleContent .footer__title {
        margin-bottom: 20px;
    }

    .footer .footer__sitemap {
        grid-template-columns: 1fr;
        text-align: center;
        justify-content: center;
        align-items:center;
        margin: 0 auto;

    }

    .footer .footer__sitemap_links {
        padding: 0 0 20px 0;
        margin: 0 auto;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    .footer .footer__sitemap .footer__sitemap_functions {
        padding:50px 0 0 0;
        justify-self: center;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .footer .footer__sitemap .footer__sitemap_functions .footer__sitemap_mode select,
    .footer .footer__sitemap .footer__sitemap_functions .footer__sitemap_language select {
        display:block;
    }

    .footer .footer__sitemap .footer__sitemap_language_form {
        margin: 0 auto;
    }
}